<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eat Fresh</title>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css">                
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">                                      
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="/stylesheets/hero-slider-style.css">                              
    <!-- Hero slider style (https://codyhouse.co/gem/hero-slider/) -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">                                 
    <!-- Magnific popup style (http://dimsemenov.com/plugins/magnific-popup/) -->
    <link rel="stylesheet" href="/stylesheets/tooplate-style.css">        


    {{!-- //loadings for eatfresh --}}

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/dashboards.css' />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>

    <body>
        
        <!-- Content -->
        <div class="cd-hero">

            <!-- Navigation -->        
            <div class="cd-slider-nav">
                <nav class="navbar">
                    <div class="tm-navbar-bg">
                        
                        <a class="navbar-brand text-uppercase" href="#"><i class="fa fa-shopping-cart tm-brand-icon"></i>Eat Fresh</a>

                        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active selected">
                                    <a class="nav-link" href="#0" data-no="1">Home <span class="sr-only">(current)</span></a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="2">Farmer Service Agency</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="3">Distributer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="4">Track product details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#0" data-no="5">Discover origin</a>
                                </li>
                            </ul>
                        </div>                        
                    </div>

                </nav>
            </div> 

            <ul class="cd-hero-slider">

                <!-- Page 1 Gallery -->
                <li class="selected">                    
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
                            <div class="tm-img-gallery-container">
                                <div class="tm-img-gallery gallery-one">
                                <!-- Gallery One pop up connected with JS code below -->                                    
                                    <div class="tm-img-gallery-info-container">                                    
                                        <h2 class="tm-text-title tm-gallery-title tm-white"><span class="tm-white">How it works?!</span></h2>
                                        <p class="tm-text">Farmer -> Agency -> Distributer -> Store Owner -> Customer
                                        </p>
                                    </div>
                                    <div class="grid-item">
                                        <figure class="effect-bubba">
                                            <img src="/images/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h2 class="tm-figure-title">Step 1: <span>Farmer</span></h2>
                                                <p class="tm-figure-description">Crops cultivated by farmer are handed over to agency.</p>
                                                <a href="/images/tm-img-01.jpg">View more</a>
                                            </figcaption>           
                                        </figure>
                                    </div>
                                    <div class="grid-item">
                                        <figure class="effect-bubba">
                                            <img src="/images/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h3 class="tm-figure-title">Step 2: <span>Service Agency</span></h3>
                                                <p class="tm-figure-description">Packs the products and hand them over to distributers.</p>
                                                <a href="/images/tm-img-02.jpg">View more</a>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="grid-item">
                                        <figure class="effect-bubba">
                                            <img src="/images/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h3 class="tm-figure-title">Step 3: <span>Distributer/Importer</span></h3>
                                                <p class="tm-figure-description">Transports the packed products to retailers.</p>
                                                <a href="/images/tm-img-03.jpg">View more</a>
                                            </figcaption>           
                                        </figure>
                                    </div>
                                    <div class="grid-item">
                                        <figure class="effect-bubba">
                                            <img src="/images/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
                                            <figcaption>
                                                <h2 class="tm-figure-title">Step 4: <span>Consumers</span></h2>
                                                <p class="tm-figure-description">Consumers buy the trackable, safe product.</p>
                                                <a href="/images/tm-img-04.jpg">View more</a>
                                            </figcaption>           
                                        </figure>
                                    </div>  
                                                                                                           
                                </div>                                 
                            </div>
                        </div>                                                    
                    </div>                    
                </li>

                <!-- Page 2 Service Agency -->
                <li>                    
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
                            <div class="tm-img-gallery-container">
                                <!-- Gallery Two pop up connected with JS code below -->
                                    
                                    <div class="tm-img-gallery-info-container">                                    
                                        <h2 class="tm-text-title tm-gallery-title"><span class="tm-white">Farm Services Agency</span></h2>
                                        <p class="tm-text"><span class="tm-white">Add all the product details below.</span>
                                        </p>
                                    </div>
                                   
                                       {{!-- here is the farm service agency form  --}}
                                        <div class="tm-flex tm-contact-container">                                

                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">

                                        <form class="tm-contact-form">

                                                    <div class="form-group">
                                                        <input type="text" id="product_idAg" name="product_idAg" class="form-control" placeholder="product id"  required/>
                                                    </div>
                                                     <div class="form-group">
                                                        {{!-- <input type="text" id="product_name" name="product_name" class="form-control" placeholder="product_name"  required/> --}}
                                                        <select name="product_name" id="product_name" class="form-control" placeholder="product_name" required/>
                                                        <option value="nil">Choose Product Name</option> 
                                                        <option value="aloevera">aloevera</option>
                                                        <option value="banana">banana</option>
                                                        <option value="beetroot">beetroot</option>
                                                        <option value="broccoli">broccoli</option>
                                                        <option value="cardamom">cardamom</option>
                                                        <option value="coconut">coconut</option>
                                                        <option value="cinnamon">cinnamon</option>
                                                        <option value="garlic">garlic</option>
                                                        <option value="ginger">ginger</option>
                                                        <option value="greenbean">greenbean</option>
                                                        <option value="guava">guava</option>
                                                        <option value="haricotbean">haricotbean</option>
                                                        <option value="lemon">lemon</option>
                                                        <option value="mango">mango</option>
                                                        <option value="melon">melon</option>
                                                        <option value="mushroom">mushroom</option>
                                                        <option value="pea">pea</option>
                                                        <option value="peanut">peanut</option>
                                                        <option value="pepper">pepper</option>
                                                        <option value="pineapple">pineapple</option>
                                                        <option value="pumpkin">pumpkin</option>
                                                        <option value="sweetpotato">sweetpotato</option>
                                                        <option value="tomato">tomato</option>
                                                        <option value="tapioca">tapioca</option>
                                                        <option value="watermelon">watermelon</option>


                                                        
                                                        </select>
                                                    </div>
                                                     <div class="form-group">
                                                        <div class="form-group">
                                                        <select name="weight" id="weight" class="form-control" placeholder="weight" required/>
                                                        <option value="nil">Choose Product Weight</option> 
                                                        <option value="50g">50g</option>
                                                        <option value="100g">100g</option>
                                                        <option value="200g">200g</option>
                                                        <option value="250g">250g</option>
                                                        <option value="500g">500g</option>
                                                        <option value="1kg">1kg</option>
                                                        <option value="2kg">2kg</option>
                                                        <option value="5kg">5kg</option>
                                                        <option value="10kg">10kg</option>

                                                        </select>
                                                   </div>
                                                     <div class="form-group">
                                                        <input type="number" id="price" name="price" class="form-control" placeholder="price"  required/>
                                                    </div>
                                                     <div class="form-group">
                                                        <input type="text" id="dopacking" name="dopacking" class="form-control" onfocus="(this.type='datetime-local')" placeholder="dopacking"  required/>
                                                    </div>
                                                     <div class="form-group">
                                                        <input type="text" id="bestbefore" name="bestbefore" class="form-control" onfocus="(this.type='datetime-local')" placeholder="bestbefore"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        {{!-- <input type="text" id="place" name="place" class="form-control" placeholder="place"  required/> --}}
                                                        <select name="place" id="place" class="form-control" aria-placeholder="place" required/>
                                                            <option value="nil">Choose place of origin</option>                                                            
                                                            <option value="Kasaragod">Kasaragod</option>
                                                            <option value="Kannur">Kannur</option>
                                                            <option value="Wayanad">Wayanad</option>
                                                            <option value="Kozhikode">Kozhikode</option>
                                                            <option value="Malappuram">Malappuram</option>
                                                            <option value="Palakkad">Palakkad</option>
                                                            <option value="Thrissur">Thrissur</option>
                                                            <option value="Ernakulam">Ernakulam</option>
                                                            <option value="Idukki">Idukki</option>
                                                            <option value="Kottayam">Kottayam</option>
                                                            <option value="Alappuzha">Alappuzha</option>
                                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                                            <option value="Kollam">Kollam</option>
                                                            <option value="Thiruvanthapuram">Thiruvanthapuram</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="uidA" name="uidA" class="form-control" placeholder="userid"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="pvtkeyAg" name="pvtkeyAg" class="form-control" placeholder="pvtkey"  required/>
                                                    </div>
                                                    

                                                    <button type="submit" class="pull-xs-right tm-submit-btn" onclick="addEatfreshAsAgent(event)">Add details</button>  
                                                
                                                </form>  
                                                </div>
                                                </div>



                                   
                                                                
                            </div>
                        </div>                      
                    </div>
                </li>

                <!-- Page 3 Distributer -->
                <li>
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content" data-page-no="3" data-page-type="gallery">                        
                            <div class="tm-img-gallery-container">
                                <!-- Gallery Two pop up connected with JS code below -->
                                    
                                    <div class="tm-img-gallery-info-container">                                    
                                        <h2 class="tm-text-title tm-gallery-title"><span class="tm-white">Distributer</span></h2>
                                        <p class="tm-text"><span class="tm-white">Update time info by product id.</span>
                                        </p>                                     
                                    </div>
                                   
                                                                           {{!-- here is the distributer form  --}}
                                        <div class="tm-flex tm-contact-container">                                

                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">

                                        <form class="tm-contact-form">

                                                    <div class="form-group">
                                                        <input type="text" id="product_idDis" name="product_idDis" class="form-control" placeholder="product_id"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="obtimestamp" name="obtimestamp" onfocus="(this.type='datetime-local')" class="form-control" placeholder="obtimestamp"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="droptimestamp" name="droptimestamp" onfocus="(this.type='datetime-local')" class="form-control" placeholder="droptimestamp"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="uidD" name="uidD" class="form-control" placeholder="userid"  required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" id="pvtkeyDis" name="pvtkeyDis" class="form-control" placeholder="pvtkey"  required/>
                                                    </div>
                                    

                                                    <button type="submit" class="pull-xs-right tm-submit-btn" onclick="addEatfreshAsDistrib(event)">Add data</button>  
                                                
                                                </form>  
                                                </div>
                                                </div>
                                    
                                   
                                                                                                                                 
                                                                
                            </div> <!-- .tm-img-gallery-container -->
                        </div>         
                    </div>  
                </li>

                <!-- Page 4 Track product -->
                
                <li>
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content tm-page-width tm-pad-b" data-page-no="4">
                            <div class="row tm-white-box-margin-b">
                                <div class="col-xs-12">
                                    <div class="tm-flex">
                                        <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding">
                                            <h2 class="tm-text-title">In-Store tracking</h2>
                                            <p class="tm-text">Track the whereabouts of your items.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row tm-white-box-margin-b">
                                <div class="col-xs-12">
                                    <div class="tm-flex">
                                        <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                            <h2 class="tm-text-title">Please enter the product id to know more.</h2>
                                            
                                                   {{!-- here is read form  --}}
                                        <div class="tm-flex tm-contact-container">                                

                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">

                                        <form class="tm-contact-form">

                                                    <div class="form-group">
                                                        <input type="text" id="product_idR" name="product_idR" class="form-control" placeholder="product_id"  required/>
                                                    </div>
                                        

                                                    <button type="submit" class="pull-xs-right tm-submit-btn" onclick="readmsgfull(event)">Retrieve data</button>  
                                                
                                                </form>  
                                                </div>
                                                </div>

                                              </div>
                                        <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                            <h2 class="tm-text-title">View the product details</h2>
                                            <p class="tm-text">
                                                <table>
                                                <tr>
                                                <td>Product name </td>
                                                <td> <input type="text" id="pnme"></input></td>
                                                </tr>
                                                <tr>
                                                <td>Product weight </td>
                                                <td><input type="text" id="wei"/></td>
                                                </tr>
                                                <tr>
                                                <td>Product price </td>
                                                <td><input type="text" id="pri"/></td>
                                                </tr>
                                                <tr>
                                                <td>Date of Packing </td>
                                                <td><input type="text" id="pack"></input></td>
                                                </tr>
                                                <tr>
                                                <td>Best before </td>
                                                <td><input type="text" id="before"></input></td>
                                                </tr>
                                                <tr>
                                                <td>Distributor pickup </td>
                                                <td><input type="text" id="pickup"></input></td>
                                                </tr>
                                                <tr>
                                                <td>Distributor dropoff </td>
                                                <td><input type="text" id="dropoff"></input></td>
                                                </tr>
                                                </table>

                                            </p>     
                                        </div>
                                    </div>
                                </div>
                            </div>  

                                                
                        </div>              
                    </div> <!-- .cd-full-width -->

                </li>

                <!-- Page 5 Track loc -->
                <li>
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="5">
                            <div class="tm-contact-page">                                
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="tm-flex tm-contact-container">                                
                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
                                                <h2 class="tm-contact-info">Scan the product id to view place of origin!</h2>
                                                <p class="tm-text">Eat fresh! Stay healthy!</p>                                                
                                                
                                                <!-- contact form -->
                       {{!-- here is the farm service agency form  --}}
                                        <div class="tm-flex tm-contact-container">                                

                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">

                                        <form class="tm-contact-form">

                                                    <div class="form-group">
                                                        <input type="text" id="product_idT" name="product_idT" class="form-control" placeholder="product_id"  required/>
                                                    </div>
                                        

                                                    <button type="submit" class="pull-xs-right tm-submit-btn" onclick="trackfn(event)">Find place</button>  
                                                
                                                </form>  
                                                </div>
                                                </div> 
                                            </div>

                                            <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
                                                <h2 class="tm-contact-info">Discover the origin of your food..!</h2>
                                                <!-- google map goes here -->
                                                <div id="google-map"></div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>    

                        </div>
                        
                    </div> <!-- .cd-full-width -->
                </li>
            </ul> <!-- .cd-hero-slider -->
            
            <footer class="tm-footer">
            
               
                <p class="tm-copyright-text">Copyright &copy; 2019 Eat Fresh 
                
                </p>

            </footer>
                    
        </div> <!-- .cd-hero -->
        

        <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
        <div id="loader-wrapper">
            
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>
        
        <!-- load JS files -->
        <script src="/javascripts/jquery-1.11.3.min.js"></script>         <!-- jQuery (https://jquery.com/download/) -->
        <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) --> 
        <script src="/javascripts/bootstrap.min.js"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
        <script src="/javascripts/hero-slider-main.js"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
        <script src="/javascripts/jquery.magnific-popup.min.js"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->
        
        <script>

            function adjustHeightOfPage(pageNo) {

                var offset = 80;
                var pageContentHeight = 0;

                var pageType = $('div[data-page-no="' + pageNo + '"]').data("page-type");

                if( pageType != undefined && pageType == "gallery") {
                    pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .tm-img-gallery-container").height();
                }
                else {
                    pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height() + 20;
                }

                if($(window).width() >= 992) { offset = 120; }
                else if($(window).width() < 480) { offset = 40; }
               
                // Get the page height
                var totalPageHeight = $('.cd-slider-nav').height()
                                        + pageContentHeight + offset
                                        + $('.tm-footer').height();

                // Adjust layout based on page height and window height
                if(totalPageHeight > $(window).height()) 
                {
                    $('.cd-hero-slider').addClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
                }
                else 
                {
                    $('.cd-hero-slider').removeClass('small-screen');
                    $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
                }
            }

            /*
                Everything is loaded including images.
            */
            $(window).load(function(){

                adjustHeightOfPage(1); // Adjust page height

                /* Gallery One pop up
                -----------------------------------------*/
                $('.gallery-one').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}                
                });
				
				/* Gallery Two pop up
                -----------------------------------------*/
				$('.gallery-two').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery:{enabled:true}                
                });

                /* Gallery Three pop up
                -----------------------------------------*/
                $('.gallery-three').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery:{enabled:true}                
                });

                /* Collapse menu after click 
                -----------------------------------------*/
                $('#tmNavbar a').click(function(){
                    $('#tmNavbar').collapse('hide');

                    adjustHeightOfPage($(this).data("no")); // Adjust page height       
                });

                /* Browser resized 
                -----------------------------------------*/
                $( window ).resize(function() {
                    var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");
                    
                    // wait 3 seconds
                    setTimeout(function() {
                        adjustHeightOfPage( currentPageNo );
                    }, 1000);
                    
                });
        
                // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
                $('body').addClass('loaded');
                           
            });

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(8.524139, 76.936638),
                    scrollwheel: false
                };
            
                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
                });
            
                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
                });
            }
            function setNewCenter(lat,long){
                map.setCenter(new google.maps.LatLng(lat,long));
            }
            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            }
        
            // DOM is ready
            $(function() {                
                loadGoogleMap(); // Google Map
            });

        </script>     
        
<script src='/javascripts/main.js'></script>       

</body>
</html>